body {
	height: 100vh;
	background-color:  #4c4040
}
a:link {
    background-color: transparent;
    text-decoration: none;
}
p {
    text-align: center;
    color: #171111;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18pt;
}
h1 {
    text-align: center;
    color: black;
    font-family: 'Bowlby One SC', cursive;
    font-size: 120pt;
}
h2 {
    text-align: center;
    color: black;
    font-family: 'Bowlby One SC', cursive;
    font-size: 72pt;
}
h3 {
    text-align: center;
    color: black;
    font-family: 'Tomorrow', sans-serif;
    font-size: 24pt;
}
header {
	position: relative;
	margin: auto;
	z-index: 2;
}






@media (max-width:1200px){
	.container{
		max-width:970px;
	}
}
@media (max-width:992px){
	.container{
		max-width:750px;
	}
}
@media (max-width:767px){
	.container{
		max-width: none;
	}
}

.backgr {
    position: absolute;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5vh;
	z-index: 1;
}


.record {
	position: relative;
	left: 0;
	z-index: 3;
}
